/* Content7  checkbox animation */

@keyframes slideIn {
    0% {
        transform: translateX(70px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes rotationCheckmark {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(70px);
    }
}
*/

.menu-card:hover {
cursor: pointer;
}

.menu-card:hover .container {
    display: block;
    animation: slideIn .1s linear;
}

.menu-card:hover .checkmark {
    animation: rotationCheckmark .5s;
}

/*
.menu-card:hover .container {
    display: block;
    animation: slideOut .5s linear;
}

*/
