/* Content7  checkbox animation */

@keyframes slideIn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(70px);
    }
}

@keyframes rotationIcon {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(70px);
    }

    100% {
        transform: translateX(0);
    }
}

.menu-card:hover {
cursor: pointer;
}

.menu-card:hover .container {
    display: block;
    animation: slideIn .1s linear, slideOut .1s linear;
}

.menu-card:hover .checkmark {
    animation: rotationIcon .5s;
}