/* Content7  checkbox animation */

@keyframes rotationCheckmark {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.menu-card:hover {
cursor: pointer;
}

.menu-card:hover .container {
    width: 4rem;
    /* margin-right: 0; */
}

.menu-card:hover .checkmark {
    /* opacity: 1; */
    animation: rotationCheckmark .5s;
}
