@media (max-width: 340px) {
/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
}

.container .checkmark:after {
  left: 6px;
  top: 2.5px;
  width: 7px;
  height: 12px;
  border-width: 0 2px 2px 0;
}

.menu-card:hover .container {
  width: 2rem;
}

.menu-card:hover .info-wrapper {
  width: 130px;
}
}

@media (max-width: 380px) {
  /* Content3 */
.content3 ul {
  padding-inline: 2em;
}

.content3 li {
  width: auto;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.content3 li::before {
  top: 2em;
}

.content3 a {
  font-size: .9625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content3 h2 {
  text-align: center;
  margin-right: 0em;
}
}

/* Animation slideOut */
@media (max-width: 370px) {
.meu-card {
  width: auto;
  max-width: 200px;
}

.info-wrapper,
.card__info {
  width: 50%;
}

.menu-card:hover .info-wrapper {
  width: 150px;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(35px);
    opacity: 1;
  }
}

.menu-card:hover .card-check {
  opacity: 1;
  width: 35px;
  animation: slideOut 0.1s linear;
}
}

@media (max-width: 400px) {
body {
  font-size: .7rem;
  line-height: 1.3;
  }
}

@media (min-width: 401px) and (max-width: 510px){
body {
  font-size: .79rem;
  }
}

@media (min-width: 371px) and (max-width: 500px) {
.menu-card:hover .info-wrapper {
  width: 190px;
}

.info-wrapper {
width: auto;
max-width: 230px;
}
}
/* ./Animation slideOut */

@media (max-width: 520px) {
  /* Content7  ellipsis */
.info-wrapper h3,
.card__info h4 {
overflow: hidden;
text-overflow: ellipsis;
}
}

@media (min-width: 590px) {
  /* Content7 */
main {
  margin: 0 3em;
}
}

@media (min-width: 600px) {
  /* Content4 */
.content4 img,
.content6-photo img {
  height: 565px;
}

  /* Content5 */
.content5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media (min-width: 700px) {
  /* Content6 */
.content6 {
  height: 420px;
}

.headerPic {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

  /* Content7 */
.content7 .menu__title {
  justify-content: center;
  margin-bottom: 2em;
}

.content7 h1 {
padding-right: 2em;
letter-spacing: .1rem;
}

main {
  margin: 0 6em;
}
}

@media (min-width: 800px) {
  /* Content4 */
.content4 {
  padding: 2em 5em;
}
}

@media (min-width: 900px) {
  /* Content7 */
.menu-card {
  margin-inline: 3em;
}
}

@media (min-width: 970px) {
  /* Content7 */
.menu-card {
  margin-inline: 6em;
}
}

@media (min-width: 1000px) {
  /* Content5 */
.content5 {
  flex-direction: row;
  justify-content: space-around;
}

  /* Content4 */
.card {
  justify-content: space-around;
}

/* Content7 */
main {
  margin: 0 8em;
}
}

@media (min-width: 1050px) {
/* Content7 */
main {
  margin: 0 10em;
}
}

@media (min-width: 1110px) {
  /* Content1 */
header img {
  height: 50px;
}

  /* Content3 */
.content3 ul {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.content3 li {
  margin-left: 2em;
}

.content3 h2 {
  text-align: center;
  margin-right: 0em;
}

  /* Content4 */
.resto {
  box-shadow: 0 0 16px gray;
  margin-bottom: 3em;
}

.content4 h3 {
  font-family: var(--ff--secondary);
  font-weight: 600;
  letter-spacing: .1rem;
}

.content4 .card:hover {
  background: #fffaf0;
  border-radius: var(--borderRadius);
  box-shadow: 14px 12px 20px -10px #9356dc;
}

  /* Content5 */
.content5 h2 {
  font-weight: 900;
  letter-spacing: .265em;
}
}

@media (min-width: 1150px) {
/* Content7 */
.menu-card {
  margin-inline: 8em;
}
}

@media (min-width: 1250px) {
/* Content7 */
.menu-card {
  margin-inline: 10em;
}
}