@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Backgrounds */
.content2,
.content4,
.content7,
.pick,
.own,
.enjoy {
  background-color: var(--light-clr);
}

.content5 {
  background-color: var(--dark-clr);
  color: white;
}

.content5 a {
  color: white;
}

.geolocBar {
  height: 4rem;
  background-color: #dcdcdc;
  padding-top: 1rem;
  margin-bottom: 2em;
  box-shadow: inset 0px 5px 1px 0px rgb(206, 195, 195);
}

/* Typo */
.content5 h2 {
  font-family: var(--ff--secondary);
}

.content2 h2,
.content3 h2,
.content4 h2 {
  font-weight: 600;
}

/* Loading spinner */
.loading-screen {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* overflow: hidden; */
  pointer-events: none;
  animation: fadeOut 7s 1;
}

@keyframes fadeOut {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  60% {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 1.5s linear infinite;
  transition-duration: 3s;
}

@keyframes rotate {
  to {
      transform: rotate(360deg);
  }
}

.loading span {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale {
  50% {
      transform: scale(1.2);
  }
}

.loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  background-color: var(--primary-clr);
  transform-origin: bottom right;
}

.loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: var(--secondary-clr);
  transform-origin: bottom left;
  animation-delay: .5s;
}

.loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: var(--tertiary-clr);
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #24dd87;
  transform-origin: top left;
  animation-delay: 1s;
}


/* Cards */
.resto,
.menu-card {
  width: auto;
  border: var(--border);
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  margin-bottom: 1.5em;
}

main {
  margin: 0 auto;
}

.content4 {
  padding: 4em 1.5em;
}

.card,
.menu__title,
.card__info,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.5em;
  margin-bottom: 1em;
}

/* Images */
.content4 img,
.content6-photo img {
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  margin-bottom: 1em;
  width: 100%;
  height: 255px;
  object-fit: cover;
  object-position: center;
}

/* Header */
.content1 {
  /* margin-top: 1em;  (ne fonctionne pas avec ecran loading spinner*/
  margin-bottom: 1em;
}

header img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.arrow {
  border: none;
  background: white;
  font-size: 1.5em;
  margin-top: 1em;
}

/* Footer */
.content5 {
  padding-block: 2em;
  padding-inline-start: 2em;
}

/* Content2 */
.locationIcon {
  margin-left: 2em;
}

.content2 .fas {
  font-size: 1.1rem;
}

.locationInput {
  border: none;
  background-color: #e6dddd61;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1em;
}

.introCatch {
  margin-bottom: .3em;
  line-height: 1.2;
}

.content2,
.content3 {
  text-align: center;
  margin-bottom: 4em;
}

.content2 p {
  margin-bottom: 1em;
  line-height: 1.2;
}

.content2 button,
.content7 button {
  padding: 1em 2em;
  margin-top: 1em;
  margin-bottom: 4em;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  box-shadow: 8px 8px 35px -17px grey;
  color: white;
  background: var(--gradientBg);
  cursor: pointer;
}

.content2 button:hover,
.content7 button:hover {
box-shadow: 0 0 12px #9356dc;
background: linear-gradient(360deg, var(--secondary-clr), #b7a9c9);;
}

.gradientBtn {
display: flex;
justify-content: center;
align-items: center;
}

/* Content3: Fonctionnement */
.content3 h2 {
  margin-right: 6em;
}

.content3 a .fa-mobile-alt {
  margin-left: 2em;
}

.content3 li {
  background: #f6f5f7;
  border-radius: 1em;
  box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.55);
  padding: 1em 4em 1em 1em;
  margin-bottom: 2em;
}

.content3 li:hover {
  background: #fffaf0;
  box-shadow: 14px 12px 20px -10px #9356dc;
  cursor: pointer;
}

.content3 li:hover i {
  color: #9356dc;
}

.content3 a {
  font-weight: 600;
}

.content3 .fas {
  margin-right: 2em;
  margin-left: 1em;
  color: gray;
}

.content3 ul {
  counter-reset: ordered-list;
}

.content3 li {
  position: relative;
}

.content3 li::before {
  counter-increment: ordered-list;
  content: counter(ordered-list);
  position: absolute;
  left: -1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: white;
  background: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* Content4 Main, Restaurants */
.content4 {
  width: 100%;
}

.content4 .empty,
.content7 .empty,
.content4 .full,
.content7 .full {
  font-size: 2rem;
}

.content4 .full,
.content7 .full {
  opacity: 0;
}

.content4 .full:hover,
.content7 .full:hover {
  background: var(--gradientBg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1000ms ease-in-out;
}

.content4 .full,
.content7 .full {
position: relative;
}

.content4 .empty,
.content7 .empty {
  position: absolute;
}

/* Content4: "Nouveau" Top right text */
.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(160, 238, 206);
  color: rgb(9, 136, 98);
  padding-left: 20px;
  padding-right: 20px;
}

.text-block h4 {
  font-weight: 700;
}

/* Content5 Footer */
.content5 .fas {
  padding-right: 1em;
}

.textContainer {
  position: relative;
}

.content5 .fa-hands-helping {
  font-size: smaller;
  }

/* Content7 Menu One*/

.content7 {
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-top: -4em;
  position: relative;
  z-index: 1;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.content7 .menu__title {
padding-top: 2em;
}

    /* Content7  menu-one fadeIn*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

    /* menu-one fadeIn Starting state */
.starters {
  opacity: 0;
  animation: fadeIn var(--bezier) 2000ms forwards;
}

.courses {
  opacity: 0;
  animation: fadeIn var(--bezier) 2000ms 2000ms forwards;
}

.desserts {
  opacity: 0;
  animation: fadeIn var(--bezier) 2000ms 4000ms forwards;
}

.content7 .gradientBtn {
  opacity: 0;
  animation: fadeIn var(--bezier) 2000ms 6000ms forwards;
}

    /* Content7  ellipsis */
.card__info {
  width: 100%;
  margin-inline: 1.5em;
}

.info-wrapper h3,
.card__info h4 {
  white-space: nowrap;
  /*  overflow: hidden;
  text-overflow: ellipsis; */
}

.checkbox {
  display: flex;
  align-items: stretch;
}

.card__price {
  display: flex;
  align-items: flex-end;
  padding: 0 1em 1.1em 0;
}

    /* ellipsis: info-wrapper hover */
.menu-card {
  width: 100%;
}

.menu-card:hover .info-wrapper {
  width: 250px;
  padding-right: 1em;
}
