@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Backgrounds */
.content2,
.content4,
.content7,
.pick,
.own,
.enjoy {
  background-color: var(--light-clr);
}

.content5 {
  background-color: var(--dark-clr);
  color: white;
}

.content5 a {
  color: white;
}

.geolocBar {
  height: 4rem;
  background-color: #dcdcdc;
  padding-top: 1rem;
  margin-bottom: 2em;
  box-shadow: inset 0px 5px 1px 0px rgb(206, 195, 195);
}

/* Typo */
.content5 h2 {
  font-family: var(--ff--secondary);
}

.content2 h2,
.content3 h2,
.content4 h2 {
  font-weight: 600;
}

/* Cards */
.resto,
.menu-card {
  width: auto;
  border: var(--border);
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  margin-bottom: 1em;
}

main {
  margin: 0 auto;
}

.content4 {
  padding: 3em 1em;
}

.card,
.menu__title,
.card__info,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.5em;
  margin-bottom: 1em;
}

/* Images */
.content4 img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1em;
}

/* .resto .two img {
  object-position: center;
} */

/* Header */
.content1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  border: none;
  background: white;
  font-size: 1.5em;
}

/* Footer */
.content5 {
  padding-block: 2em;
  padding-inline-start: 2em;
}

/* Content2 */
.locationIcon {
  margin-left: 2em;
}

.locationInput {
  border: none;
  background-color: #e6dddd61;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1em;
}

.introCatch {
  margin-bottom: .3em;
  line-height: 1.2;
}

.content2,
.content3 {
  text-align: center;
  margin-bottom: 4em;
}

.content2 p {
  margin-bottom: 1em;
  line-height: 1.2;
}

.content2 button,
.content7 button {
  padding: 1em 2em;
  margin-top: 1em;
  margin-bottom: 4em;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 12px grey;
  color: white;
  background: var(--gradientBg);
}

.gradientBtn {
display: flex;
justify-content: center;
align-items: center;
}

/* Content3: Fonctionnement */
.content3 h2 {
  margin-right: 6em;
}

.content3 li {
  margin-bottom: 1em;
  padding: 1em 4em 1em 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px lightgrey;
}

.content3 li .fas:hover {
  color: var(--primary-clr);
}

/* .content3 li .fas:focus {
  color: rgb(114, 206, 160);
} */

.content3 a {
  font-weight: 600;
}

.content3 .fas {
  margin-right: 2em;
  margin-left: 1em;
  color: gray;
}

.content3 ul {
  counter-reset: ordered-list;
}

.content3 li {
  position: relative;
}

.content3 li::before {
  counter-increment: ordered-list;
  content: counter(ordered-list);
  position: absolute;
  left: -1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: white;
  background: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* Content4 */
.content4 .far,
.content7 .far {
  font-size: 2rem;
}

.content4 .far:hover,
.content7 .far:hover {
  background: var(--gradientBg);
}

/* Content5 */
.content5 .fas {
  padding-right: 1em;
}

.textContainer {
  position: relative;
}

/* Top right text */
.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(160, 238, 206);
  color: rgb(9, 136, 98);
  padding-left: 20px;
  padding-right: 20px;
}

.text-block h4 {
  font-weight: 700;
}

.content5 .fa-hands-helping {
font-size: smaller;
}

/* Content7 */

.content7 {
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-top: -4em;
  position: relative;
  z-index: 1;
}

main {
  padding: 2em 1em;
}

.menu-card {
  background: white;
}

.content7 .menu__title {
padding-top: 2em;
}

.content7 h3 {
padding-left: 1.2em;
padding-top: .8em;
}

.starters,
.courses {
  margin-bottom: 3em;
}

.content7 h2:after {
  content: "";
  border-bottom: 2px solid var(--tertiary-clr);
  width: 13%;
  display: block;
  margin: 0;
}

/*
.content7 {
  background: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: 25px 25px;
  background-repeat: no-repeat;
  background-position: top;
} */