:root {
  --primary-clr: #9356dc;
  --secondary-clr: #ff79da;
  --tertiary-clr: #99e2d0;
  --light-clr: #f2f2f2;
  --dark-clr: #333;

  --ff--primary: "Roboto", sans-serif;
  --ff--secondary: "Shrikhand", sans-serif;

  --gradientBg: linear-gradient(var(--secondary-clr), var(--primary-clr));

  --border: 1px solid var(--light-clr);
  --boxShadow: 0 0 16px lightgrey;
  --borderRadius: 1rem;
  --noBorderRadius: 0rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  margin-inline: auto;
  font-family: var(--ff--primary);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-clr);
}

ul {
  list-style-type: none;
  font-size: 1rem;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--dark-clr);
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: var(--ff--secondary);
  font-weight: 400;
}

h2,
h4 {
  font-weight: 200;
}

h2 {
  margin-bottom: 1em;
}